* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background-color: rgb(223,234,226);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 500px;
  padding: 4px;
  background-color: white;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
  background-color: white;

}

header > img {
  max-height: 25px;
}

.contenido {
  display: grid;
  grid-template: repeat(2, 1fr) auto / repeat(2, 1fr);
  padding-inline: 5px ;
}

.image {
  grid-column: 1 / -1;
  grid-row: 1 / 3; 
  border-radius: 10px;
  
}

.sello {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transform: translate(30px, 50px) rotate(-20deg) scale(0.9);
}

.metadata {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  align-self: end;
  color: white;
  padding: 1rem;

}

.metadata h2 {
  margin-bottom: 0.5rem;
}

.metadata p {
  opacity: 0 .6;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4 ;
  justify-self: center;
  padding: 20px;
}

.btn {
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 6px 15px 1px #ddd;
  margin-inline: .5rem;
}

.footer .btn:last-child {
  background-color: rgb(225,254,244);
}